:root {
  --color1: rgb(233, 181, 172);
  --color1-dark: rgb(201, 153, 145);
  --color1-darker: rgb(170, 129, 122);
  --color2: rgb(139, 125, 171);
  --color2-dark: rgb(103, 93, 128);
  --color2-darker: rgb(68, 61, 85);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Sudoku {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color2);
  padding: 50px;
  height: 100vh;
}

.tile {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 32px;
  outline: none;
  background-color: var(--color1);
  border: 2px solid black;
  margin-left: -1px;
  margin-top: -1px;
}

.taken {
  background-color: var(--color1-dark);
  color: var(--color2-darker);
}

.initial {
  margin-left: -1px;
  margin-top: -1px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 32px;
  outline: none;
  background-color: var(--color1-darker);
  border: 2px solid black;
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 0fr);
  padding: 20px;
}

.interface {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-interface input {
  width: 250px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  outline: none;
  color: var(--color2-dark);
  background-color: var(--color1);
  border: 2px solid var(--color2-dark);
  margin-bottom: 20px;
}

.action-interface {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  background-color: var(--color1);
  padding: 8px 24px;
  border: 2px solid var(--color2-dark);
  border-radius: 8px;
  color: var(--color2-dark);
  font-size: 18px;
  transition: 0.1s all ease-in-out;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: var(--color1-dark);
}
